---
title: Архив Статей
layout: layouts/base.njk
eleventyNavigation:
  key: Archive
  order: 3
---
<h1>{{ title }}</h1>

{# Готовим список для компонента (все посты, новые сверху) #}
{% set postslist = collections.posts | reverse %}
{# ВЫЗЫВАЕМ РАБОЧИЙ КОМПОНЕНТ #}
{% include "postslist.njk" %}
