---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

{# 1. Получаем все посты и переворачиваем (новые сверху) #}
{% set allPosts = collections.posts | reverse %}
{# 2. Берем самый первый пост для "главного" блока #}
{% set featuredPost = allPosts[0] %}

{# --- БЛОК ДЛЯ ГЛАВНОГО ПОСТА --- #}
{% if featuredPost %}
<section class="featured-post">
  <div class="featured-post-content">
    <span class="featured-tag">Свежая Статья</span>
    <h2><a href="{{ featuredPost.url | url }}">{{ featuredPost.data.title }}</a></h2>
    {% if featuredPost.data.description %}
      <p>{{ featuredPost.data.description }}</p>
    {% endif %}
  </div>
</section>
{% endif %}


{# --- СЕТКА ОСТАЛЬНЫХ ПОСТОВ --- #}
<h2 class="section-title">Остальные Статьи</h2>

{# 3. Готовим список для сетки (все посты, КРОМЕ первого) #}
{% set postslist = allPosts %}

{# 4. Вызываем рабочий компонент с нашим новым, урезанным списком #}
{% include "postslist.njk" %}
