---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

{# Получаем все посты и переворачиваем, чтобы новые были сверху #}
{% set allPosts = collections.posts | reverse %}
{# Первый пост в списке - наш "главный" #}
{% set featuredPost = allPosts[0] %}

{# --- БЛОК ДЛЯ ГЛАВНОГО ПОСТА --- #}
{% if featuredPost %}
<section class="featured-post">
  <div class="featured-post-content">
    <span class="featured-tag">Свежая Статья</span>
    <h2><a href="{{ featuredPost.url | url }}">{{ featuredPost.data.title }}</a></h2>
    {% if featuredPost.data.description %}
      <p>{{ featuredPost.data.description }}</p>
    {% endif %}
  </div>
</section>
{% endif %}


{# --- СЕТКА ОСТАЛЬНЫХ ПОСТОВ --- #}
<h2 class="section-title">Остальные Статьи</h2>

{# Готовим список для компонента (все посты, кроме первого) #}
{% set postslist = allPosts %}
{# ВЫЗЫВАЕМ РАБОЧИЙ КОМПОНЕНТ С ПРАВИЛЬНЫМ СИНТАКСИСОМ #}
{% include "postslist.njk" %}
