<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" media="print" onload="this.media='all'">
    
		<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any">
		<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml">

		{# --- Используем оригинальный механизм сборки стилей --- #}
		<style>{% include "css/index.css" %}</style>
		<style>{% getBundle "css" %}</style>

		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<div class="container">
			<div class="main-box">

				<header>
					<a href="/" class="home-link">{{ metadata.title }}</a>
					{# <nav>#}
					{# 	<h2 class="visually-hidden">Top level navigation menu</h2>#}
					{# 	<ul class="nav">#}
					{# 	{%- for entry in collections.all | eleventyNavigation %}#}
					{# 		<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>#}
					{# 	{%- endfor %}#}
					{# 	</ul>#}
					{# </nav>#}
				</header>

				<main id="main">
					<heading-anchors>
						{{ content | safe }}
					</heading-anchors>
				</main>

				<footer>
					<p>
						<em>Присоединиться <a href="https://sethubble.com/ru/p_qdr">SetHubble</a></em>
					</p>
				</footer>
			
			</div>
		</div>

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
