---
layout: layouts/base.njk
---
{# Подключаем стили для подсветки синтаксиса в коде #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

<article class="post-content">
	<h1>{{ title }}</h1>

	<div class="post-metadata">
		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
		<div class="tags-list">
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
			{%- endfor %}
		</div>
	</div>

	{{ content | safe }}
</article>

{# Навигация "Следующий/Предыдущий пост" #}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav class="links-nextprev">
	{%- if previousPost %}<a class="links-nextprev-prev" href="{{ previousPost.url }}">
		<span>← Предыдущая</span>
		<strong>{{ previousPost.data.title }}</strong>
	</a>{% else %}<span></span>{% endif %}
	
	{%- if nextPost %}<a class="links-nextprev-next" href="{{ nextPost.url }}">
		<span>Следующая →</span>
		<strong>{{ nextPost.data.title }}</strong>
	</a>{% endif %}
</nav>
{%- endif %}
